{% extends "base.html" %}
{% block extrajs %}
<!-- You should place your js files here -->
<script src="/static/js/colorchange.js"></script>
{% endblock%}
{% block title %}Introduction{% endblock %}
{% block nav_index %}class="active"{% endblock %}
{% block content %}{% endblock %}
{% block page %}
<p id= currentLogo></p>
<h1 id= title class="color" style="text-align:center;">
East Carolina University
<h1>
<h4>
  <p>Welcome to North Carolina College lineup!</p>
  <p>On the schools page you can look at all the major NC Universities logos and school colors.</p>
  <p>On the Select/Add page you can select a specific school, selecting a school will apply the school colors and logo to design background of the app. On this same page you can also add a school of your design with your chosen school colors and logo to the list of schools.</p>
  <p>Enjoy admiring all the schools!</p>
</h4>


</script>
<script>
  var data = '{{data}}'
  var replace = data.replace(new RegExp('&#34;', 'g'), "\"");
  var data = JSON.parse(replace);
  localStorage.setItem('length', data.length);
  var img = document.createElement('img'); 
  if (typeof(img.src) != 'undefined') {
    img.src = localStorage.getItem("logo");
  } else {
    img.src = data[0].logo;
  }
  img.style= "width: 60%";
  document.getElementById('currentLogo').appendChild(img);
  
  var x = document.getElementById('title');
   if(!localStorage.getItem('color1')){
   localStorage.setItem('title','East Carolina University');
  }
  
  x.innerHTML = "<p> "+localStorage.getItem('title')+ "</p>";
</script>



<style>
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .logo{
  vertical-align:top; 
  max-width: 50%;
  }
</style>
{% endblock %}
