{% extends "base.html" %}
{% block extrajs %}
<!-- You should place your js files here -->
<script src="/static/js/colorchange.js"></script>
{% endblock%}
{% block title %}Schools{% endblock %}
{% block nav_schools %}class="active"{% endblock %}
{% block content %}
{% endblock %}
{% block colors %}{% endblock %}
{% block member %}
<div>
  <p class="members" id="currentLogo">
  <p/>
</div>
{% endblock %}
{% block page %}
<div>
  <div>
    <h1 class="color" style="text-align:center;">
    School Database
    <h1>
  </div>
  <div>
    <table id="myTable">
      <tr>
        <th>School Name</th>
        <th>Color #1</th>
        <th>Color #2</th>
        <th>Logo</th>
      </tr>
    </table>
  </div>
</div>
<script>
  var data = '{{data}}'
  var replace = data.replace(new RegExp('&#34;', 'g'), "\"");
  var data = JSON.parse(replace);
  var img = document.createElement('img'); 
  if (typeof(localStorage.getItem("logo")) != 'undefined') {
    img.src = localStorage.getItem("logo");
    } else {
    img.src = data[0].logo;
  }
  img.style="width: 50%";
  console.log(localStorage.getItem('index'))
  document.getElementById('currentLogo').appendChild(img);
  
  function addList(){
  var data = '{{data}}'
  var replace = data.replace(new RegExp('&#34;', 'g'), "\"");
  var data = JSON.parse(replace)
  console.log(data)
  
  var table = document.getElementById("myTable");
  for(var i=0; i< data.length; i++)
  {
  var row = table.insertRow(i+1);
  var name = row.insertCell(0);
  var color1 = row.insertCell(1);
  var color2 = row.insertCell(2);
  var logo = row.insertCell(3);
  name.innerHTML = data[i].schoolName;
  color1.innerHTML = "<div class='box' style='background-color: " + data[i].color1+"';></div>";
  color2.innerHTML = "<div class='box' style='background-color: " + data[i].color2+"';></div>";
  logo.innerHTML = "<img src='" + data[i].logo + "' width='50'/>";

  localStorage.setItem('length', data.length);
  console.log( localStorage.getItem('length'));

  }
  
  // name.innerHTML = SchoolName in DB
  // color1.innerHTML = "Color1 in DB";
  // color2.innerHTML = "Color2 in DB";
  // logo.innerHTML = "<img src='Logo Link in DB' width='50'/>";
  
  }
  window.onload=addList;
  /*
  Loads when page opens. Will need to loop through database
  */
  
</script>
<style>
  .box {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  border: 1px solid black;
  }
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }
  td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  }
  tr:nth-child(even) {
  background-color: #dddddd;
</style>
{% endblock %}
